html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

header {
    margin:0;
    top:0px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30%;
}

#logo {
    width: 65%;
    opacity: 75%;
} 

.logotext {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Farsan" ;
}

#textheader {
    position: absolute;
    color: white;
    top: 75%;
    align-items: center;
    text-align: center;
    font-size: small;
}

#index1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url("../img/icehotel-finland.jpg");
    background-size: cover;
    background-position: center;
}

#index2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url("../img/chambre.jpg");
    background-size: cover;
    background-position: center;
}

.titre1 {
    border: 1px solid black;
    height: 50px;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 12px;
    opacity: 60%;
   
}
h4 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    font-size:  18px;
    opacity: 100%;
    
}
img {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    margin-left: 18%; 
}

div2{
    height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.37);
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 20px;
    
}
h5 {
    font-size: 20px;
    text-align: center;
}
h6 {
    font-size: 20px;
}

.chambre h2 {
    border: solid 1px;
    font-size: 25px;
}

.chambre {
width: 100%;
height: 100%;
text-align: center;
font-size: 30px;
}



.index3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url("../img/icehotel-finland.jpg");
    background-size: cover;
}

.index4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url("../img/icehotel-finland.jpg");
    background-size: cover;
}

.index5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url("../img/maitre-d-hotel-accueil-restaurant-990x517.png");
    background-size: cover;
}

.d-block {
    display: block !important
}
.w-100 {
    top: 0px;
    width: 85%;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#carouselExampleSlidesOnly {
    padding-bottom: 25px;
}




.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.active.carousel-item-right,
.carousel-item-next {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .active.carousel-item-right,
    .carousel-item-next {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

.active.carousel-item-left,
.carousel-item-prev {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .active.carousel-item-left,
    .carousel-item-prev {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control-prev {
    left: 0
}

.carousel-control-next {
    right: 0
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, .5)
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: ""
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: ""
}

.carousel-indicators .active {
    background-color: #fff
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}


/* nav bar from here */
@keyframes slidingnav {
    from {
        transform: translate(-200px);
    }
    to {
        transform: translate(0px);
        animation-timing-function:ease-in-out
    }
}

nav {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.199);
    position: absolute;
    left: 0px;
    top: 0px;
    color: rgb(255, 255, 255);
    z-index: 2;
}


nav>.test {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.199);
    width: 200px;
    height: 300px;
    position: absolute;
    top: 0;
    z-index: 1;
    animation: slidingnav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-family: 'Farsan';
    font-size: x-large;

}

nav>.test>img {
    width: 75%;
}

nav>.test>a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 50%;
}
nav>.test>div>a {
    margin: 10px;
    color: rgb(255, 255, 255);
}
label {
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#toggle {
    display: none;
}

#toggle:checked+.test {
    display: flex;
}

/* to here */

section-1 {
    position: relative;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 400vh;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.562), rgba(255, 255, 255, 0.562)), url("../img/Sans-titre.png ");
}

#icons {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -10%;
    padding-bottom: 170px;
}

#icons>img {
    width: 50%;
    max-width: 30px ;
}

#arrowup {
    position: fixed;
    right: 5%;
    bottom: 25%;
    z-index: 3;
}

#Tellme {
    margin-top: 50px;
    border: solid, rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.37);
    background-color: rgba(255, 255, 255, 0.61);
    width: 80%;
    height: 200px;
    padding: 20px;
    font-size: small;
    display: flex;
    flex-direction: column;
}


footer {
    background-image: url("../img/The-Shining-v2.jpg");
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 150px;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 0;
}

#Admin {
    position: absolute;
    right: 10px;
    font-family: "Farsan";
    font-size: x-small;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 25%;
}

#Adress {
    font-size: x-small;
    top: 40%;
    position: absolute;
    right: 10px;
    font-family: "Farsan";
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#copy {
    position: absolute;
    font-size: x-small;
    color: white;
    bottom: 10px;
    left: 40%;
}

@media (orientation: landscape) {
    header {
        height: auto;
    }
    footer {
        position: relative;
        bottom: 0;
    }
    section-1 {
        height: auto;
        width: auto;
    }
    #icons {
        position: relative;
        left: -10%;
        padding-bottom: 50px;
    }
    footer {
        background-image: url("../img/The-Shining-v2.jpg");
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 200px;
        display: flex;
        position: relative;
        bottom: 0;
    }
}


@media (min-width: 768px) {

    
    .carousel-inner {
        width: 100%;
    }
    .w-100 {
        width: 80%;
    }

    /* nav bar from here */
    nav {
        width: 200px;
        height: 700px;
    }

    label,
    #toggle {
        display: none;
    }

    nav {
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, 0);
    }

    nav>.test {
        font-size: medium;
        display:flex;
        flex-direction: row;
        animation: none;
        width: 100%;
        height: 50px;
    }

    #social {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
        top: 150px;
    }

    /* to here */

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    #Adress {
        font-size: medium;
    }

    #copy {
        font-size: small;
        left: 40%;
    }

}

@media (min-width: 1280px) {
    #textheader {
        font-size: medium;
    }
    
    #social>a>i {
        font-size: x-large;
    }

    #icons {
        position: relative;
        flex-direction: column;
        right: 0px;
    }

    #icons>img {
        width: 150%;
        max-width: 50px;
        margin: 20px;
    }
}


@media (min-height:1024px){
    img{
        height: 200px;
        width: 300px;
        position: absolute;
        right: 55%;
        display: flex;
        margin-left: 15%;
        margin-top: 15%;
    }
    h5,h6{
        display: flex;
        justify-content: end;
        margin-left: 60%;
        font-size: 40px;
        margin-bottom: 10%;
        
    }
}

@media (min-width:1025px){
    img{
        height: 600px;

    }
}

#textchambre {
    display: flex;
    font-size: 200px;
}

h5,h6 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media (max-width:667px){
   #logo{
    width: 90%;
    height: 200px;
    margin: auto;
   }
   section-1{
    height: 700vh;
   }
}